//container parameters; ensure these are OK for your system

singularity {

  enabled = "true"
  autoMounts = "true"

}

//set executor (ours was PBS)
//set whereabouts of singularity container
process {

  executor = 'pbs'
  $hlamin.container = "/data/genome/singularity/brucemoran-Singularity-master-hlaminer.1.4.simg"
  
}
